.component-title-electronics{
    background-color: #94004f;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 5rem;
    margin-top: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.electronics-container{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    gap: 30px;
    margin-top: 10px;
    height: 30px;
}

.electronics-img img{
    height: 5rem;
}

@media screen and (min-width: 1024px) {
    .component-title-electronics{
        margin-top: 47rem;
    }
    .electronics-img img{
        height: 15rem;
    }
  }


  